.container {
    padding: 100px; 
    position: relative;	
  }

  table {
      height: 400px;
      width: 800px;
      border-collapse: collapse;
      border: 2.5px solid lightgray;
      font-size: 18px;
  }

  th {
      padding: 5px 15px 5px 15px;
      border-collapse: collapse;
      border: 2.5px solid lightgray;
      text-align: center;
      color: darkslategray;
      background-color: #36a9ab;
  }

  tr {
      
      border-collapse: collapse;
      border: 2.5px solid lightgray;
  }

  td {
      padding: 5px 40px 5px 40px;
      border-collapse: collapse;
      border: 2.5px solid lightgray;
      text-align: center;
      color: darkslategray;
      background-color: #E0F5F5;
  }

  #link {
      font-size: 18px;
      color: darkslategray;
      background: none;
      border: none;
      padding: 10px;
  }

  #link:hover {
    background-color: #36a9ab;
  }